:root {
  --base:     #EDEDED;
  --bg-dark:  #272727;
  --bg-light: #424242;
  --text:     var(--base);

  --width: min(100vh, 100vw);
  --tile: calc(var(--width) / 8);
}

body {
  margin: 0;
}

#opepen {
  background: var(--base);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows:    repeat(8, 1fr);
  /* grid-template-areas:
    "s s s s s s s s"
    "s s s s s s l s"
    "s s o o o o s s"
    "s s o o o o s s"
    "s s o o o o s s"
    "s s o o o o s s"
    "s s s s s s s s"
    "s s i i i i s s"; */
}

#opepen-check {
  --size: calc(var(--tile) / 2);

  position: relative;
  grid-area: 2 / 7 / 2 / 7;
  width: var(--size);
  height: var(--size);
  top: var(--size);
}

#characters {
  grid-area: 3 / 3 / 7 / 7;
  display: grid;
  gap: 0.25rem;

  &.edition-4 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  &.edition-5 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  &.edition-10 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  &.edition-20 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  &.edition-40 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  & > span {
    background-color: var(--bg-dark);
    color: var(--text);

    &.light {
      background-color: var(--bg-light);
    }
  }
}

#input-form {
  display: flex;
  grid-area: 8 / 3 / 8 / 7;

  & > input {
    display: block;
    flex-grow: 0;
    width: 100%;
  }
}
