:root {
  --bg-dark:  #272727;
  --bg-light: #424242;
  --text:     #EDEDED;
}


#opepen {
  display: grid;
  gap: 0.25rem;

  &.edition-4 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.edition-5 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.edition-10 {
    grid-template-columns: repeat(5, 1fr);
  }
  &.edition-20 {
    grid-template-columns: repeat(6, 1fr);
  }
  &.edition-40 {
    grid-template-columns: repeat(7, 1fr);
  }

  & > span {
    background-color: var(--bg-dark);
    padding: 1rem;
    color: var(--text);

    &.light {
      background-color: var(--bg-light);
    }
  }
}
