:root {
  --base:     #EDEDED;
  --muted:    #D3D3D3;
  --bg-dark:  #272727;
  --bg-light: #424242;
  --text:     var(--base);

  --success:  #94E337;

  --speed: 0.4s;

  --width: min(100vh, 100vw);
  --tile: calc(var(--width) / 8);
  --font-size: calc(var(--width) / 24);
  --border-radius:    calc(var(--tile)/16);
  --border-radius-lg: calc(var(--tile)/4);
}

body {
  margin: 0;
}

#opepen {
  background: var(--base);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows:    repeat(8, 1fr);
}

#opepen-check {
  --size: calc(var(--tile) / 2);

  position: relative;
  grid-area: 2 / 7 / 2 / 7;
  width: var(--size);
  height: var(--size);
  top: var(--size);
}

#characters {
  grid-area: 3 / 3 / 7 / 7;
  display: grid;
  grid-gap: calc(var(--tile) / 8);
  border-radius: var(--border-radius-lg);
  border-top-left-radius: var(--border-radius);
  overflow: hidden;

  &.edition-1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: calc(var(--font-size) * 1.618);
  }
  &.edition-4 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: calc(var(--font-size) * 1.4);
  }
  &.edition-5 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: calc(var(--font-size) * 1.2);
  }
  &.edition-10 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-size: calc(var(--font-size) * 1);
  }
  &.edition-20 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-size: calc(var(--font-size) * 0.8);
  }
  &.edition-40 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    font-size: calc(var(--font-size) * 0.6);
  }

  & > span {
    background-color: var(--muted);
    color: var(--text);
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    &.dark {
      background-color: var(--bg-dark);
    }
    &.light {
      background-color: var(--bg-light);
    }

    & > svg {
      height: 1em;
    }
  }
}

#input-form {
  --padding-x: calc(var(--tile) / 2.25);

  display: flex;
  align-items: center;
  height: 100%;
  grid-area: 8 / 3 / 8 / 7;
  position: relative;

  & > #vvriter {
    position: absolute;
    color: var(--base);
    display: flex;
    align-items: center;
    max-width: calc(100% - var(--tile) - var(--padding-x));
    padding: 0 var(--tile) 0 var(--padding-x);
    overflow: hidden;
    pointer-events: none;

    & > svg {
      height: calc(var(--font-size) * 0.8);
    }
  }

  & > input {
    display: block;
    flex-grow: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-dark);
    border: 0;
    color: transparent;
    text-transform: uppercase;
    font-size: var(--font-size);
    border-top-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
    padding: 0 var(--tile) 0 var(--padding-x);
    transition: all var(--speed);

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }
  }

  &.empty {
    & > input:not(:focus) {
      background: var(--muted);
    }
  }

  & > svg {
    --size: calc(var(--tile) / 2.5);
    opacity: 0;
    position: absolute;
    width: var(--size);
    height: var(--size);
    right: var(--padding-x);
    color: var(--base);
    transition: all var(--speed);
    pointer-events: none;

    &.shown {
      opacity: 1;
      pointer-events: all;
      cursor: pointer;
    }

    &.success {
      color: var(--success);
    }
  }
}
